@media (min-width: 768px) {

    .featurette {
        position: relative;
        margin-top: 35vh;
        width: 90vw;
        padding-left: 5vw;
    }

    .featurette-heading {
        margin-left: 2.5vw;
    }

    .featurette-image {
        transform: translateY(-25%)
    }

    }
    .lead {
        margin-left: 2.5vw;
    }
}
@media (max-width @screen-sm-max){
    
    .featurette {
        position: relative;
        margin-top: 10vh;
        margin-left: 2.5vw;
    }

    .featurette-heading {
        margin-left: 2.5vw;
    }

    .featurette-image {
        transform: translateY(-25%)
    }

    }
    .lead {
        margin-left: 2.5vw;
    }
}




.email-form {
    float: right !important;
}
